pydantic==2.12.5
fastapi==0.131.0
uvicorn==0.41.0
python-dotenv==1.2.1

mcp==1.26.0
langchain==1.2.10
langchain-community==0.4.1
langgraph==1.0.9
langchain-google-genai==4.2.1
langchain-openai==1.1.10
langchain-anthropic==1.3.3
langgraph-checkpoint-sqlite==3.0.3
langchain-chroma==1.1.0
langchain-ollama==1.0.1
xai-sdk==1.7.0
duckduckgo-search==8.1.1
lxml==6.0.2
aiosqlite==0.22.1
pydantic-settings==2.13.1
chromadb==1.5.1
toolbox-core==0.5.9

structlog==25.5.0
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-cov==7.0.0
rich==14.3.3
